.menu-nav img {
  margin-inline-end: 15px;
}

.menu-nav > * {
  background-repeat: no-repeat;
  display: flex;
  margin-block-end: 20px;
  align-items: end;
  cursor: pointer;
}

.count {
  margin-inline-start: auto;
  font-weight: 600;
}
