.app-header {
  background-color: var(--main-app-color);
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

nav a {
  margin-inline: 10px;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.3em;
}

nav a:hover {
  background-color: #c5c5c59b;
  padding: 10px;
  border-radius: 1em;
  transition: 0.5s;
}

.search-bar {
  flex-grow: 1;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  width: 100%;
}

.search-bar input {
  height: 46px;
  width: 100%;
  padding: 0;
  border: 0;
  background-color: var(--search-bar-color);
  border-radius: 10px;
  padding-inline-start: 20px;
}

.app-header img{
  object-fit: contain;
  width: 109px;
}