.home{
    background-image: url('../../img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.home h1{
    font-size: 7rem;
    color: rgb(174, 174, 174);
    text-align: center;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}